@{
    ViewData["Title"] = "Appt Added";
}

<div class="text-center">
    <h1 class="display-4">Congrats!</h1>
    <p>You've successfully added an appointment</p>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ApptList">See Appointments</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go Home</a>
    </div>
</div>
