@{
    ViewData["Title"] = "Edit Appointment";
}

@model Project2.Models.Appt


<h1>Add a Appointment</h1>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label>Appointment Date & Time:</label>
        <input type="hidden" asp-for="ApptDate" />@Model.ApptDate.Remove(2, 3).Insert(2, "/").Remove(5, 3).Insert(5, "/")<br />

        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Group Size:</label>
        <input asp-for="GroupSize" /><br />

        <label asp-for="Email">Email:</label>
        <input asp-for="Email" /><br />

        <label asp-for="GroupPhone">Phone Number:</label>
        <input asp-for="GroupPhone" /><br />


        <button type="submit">Save Changes</button>


    </form>
</div>

