@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Layton Temple Tour Scheduler</h1>
    <img src="https://newsroom.churchofjesuschrist.org/media/orig/Layton-Temple-exterior-rendering.jpg"
         name="Layton Temple Photo" style="width: 500px" />
    <br />
    <br />
    <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="TimeList">Sign Up for Your Appointment</a>
   
</div>
